{{ define "base" }}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon.ico" />
    <title>{{ .Title }}</title>
    <link rel="preload" href="/static/highlight.min.js" as="script">
    <link rel="stylesheet" href="/static/github-dark.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/highlight.min.js"></script>
</head>

<body>
    {{ template "content" . }}
</body>

</html>
{{ end }}
