package view

templ BinPreviewPage(id, content string) {
	@base("bin@" + id) {
		@templ.Raw(content)
	}
}

templ BinEditorPage() {
	@base("bin") {
		<form action="/" method="post">
			<label for="content-editor" class="sr-only">Paste Content</label>
			<textarea
				id="content-editor"
				name="content"
				placeholder="bin something"
				autofocus
				autocomplete="off"
				autocorrect="off"
				autocapitalize="off"
				spellcheck="false"
			></textarea>
			<button type="submit">Save</button>
		</form>
		<script>
            document.addEventListener('keydown', (e) => {
                if (e.ctrlKey && e.key === 's') {
                    e.preventDefault();
                    document.querySelector('form').submit();
                }
            });
        </script>
	}
}