* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    height: 100vh;
    padding: 2rem;
    background: #212121;
    color: #b0bec5;
    line-height: 1.5;
    display: flex;
    font-family: monospace;
}

body,
code,
textarea {
    font-family: monospace;
}

form {
    flex: 1;
}

textarea {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    outline: 0;
    padding: 0;
    resize: none;
    overflow: auto;
    color: inherit;
    font-size: 1rem;
    line-height: inherit;
    font-family: inherit;
}

pre {
    background-color: transparent !important;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
    font-size: 1rem;
    line-height: inherit;
    font-family: inherit;
}

code {
    display: block;
}

button[type="submit"] {
    display: none;
}

span {
    min-width: 4em;
}

textarea::-webkit-scrollbar,
pre::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-track,
pre::-webkit-scrollbar-track {
    background: #2c2c2c;
}

textarea::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 6px;
    border: 2px solid #2c2c2c;
}

textarea::-webkit-scrollbar-thumb:hover,
pre::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

textarea,
pre {
    scrollbar-width: thin;
    scrollbar-color: #555 #2c2c2c;
}
